html, body {
    width: 100%;
    height: 100%;
}

.settings-navbar {
    width: 100%;
    height: 56px;
    display: none;
    padding-left: 15px;
}

.settings-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 56px);
}

.settings-menu {
    height: calc(100% - 56px);
    width: 400px;
    background-color: #818181;
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.settings-ad {
    height: calc(100% - 56px);
    width: 400px;
    background-color: #818181;
}

.settings-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

@media screen and (max-width: 992px) {
    .settings-menu {
        z-index: 1000;
        position: absolute;
        top: 56px;
        left: -400px;
    }
    .settings-navbar {
        position: absolute;
        right: 0;
        top: 56px;
        display: flex;
    }
    .settings-content {
        padding-top: 116px;
    }
}

@media screen and (max-width: 1400px) {
    .settings-ad {
        display: none;
    }
}

.menu-title {
    color: white;
    background-color: #686868;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
    max-width: 100%;
}

.submenu-title {
    color: white;
    padding: 10px;
    padding-left: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    max-width: 100%;
}