<script>
    var own_net_name = "{{ wifi.own_name }}";
    const vis_image_url = "/static/css/svg/visible.svg";
    const invis_image_url = "/static/css/svg/invisible.svg";
</script>

<link rel="stylesheet" href="/static/wifi/main.css">
<link rel="stylesheet" href="/static/wifi/wifi.css">

<div>
    <div style="padding-bottom: 50px;">
        <div class="title-holder">
            <h3 style="display: flex; flex-direction: row;">WiFi configuration</h3>
        </div>
        <div class="form-group col-md-auto">
            <div class="row my-row">
                <h5>Mode:</h5>
                <div class="custom-control custom-radio center-radio">
                    <input type="radio" class="custom-control-input" id="clientCheck" name="Check" checked>
                    <label class="custom-control-label" for="clientCheck">Client</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="apCheck" name="Check">
                    <label class="custom-control-label" for="apCheck">Access Point</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-auto">
            <label for="inputSSID">SSID</label>
            <div id="ssid_content">
                <input id="inputSSID" class="form-control"/>
            </div>
            <small id="ssidHelp2" class="form-text text-muted">WiFi hotspot configuration that Clever can connect
            </small>
        </div>
        <div class="form-group col-md-auto">
            <label for="password">Password</label>
            <div class="input-group">
                <input placeholder="Password" value="{{ wifi.pass }}" type="password" name="password" id="password"
                       class="form-control" data-toggle="password">
                <div class="input-group-append">
                <span id="password-toggler" onclick="showPassword()" class="input-group-text input-password-hide"
                      style="cursor: pointer;"><img
                        class="vis-icon" id="toggler-icon"
                        src="/static/css/svg/visible.svg"
                        alt=""/></span>
                </div>
            </div>
        </div>
        <div class="btn-group" style="margin-right: 15px; width: calc(100% - 15px); justify-content: flex-end;"
             role="group">
            <button id="butt_save" type="button" onclick="connect()" class="btn btn-success">Connect</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/wifi/wifi.js"></script>
<script>
    swap(JSON.parse("{{ wifi.is_ap }}".toLowerCase()));
</script>
